.navbar {
    background-color: #90EE90; 
}

.text-white {
    color: rgb(19, 18, 18); 
    text-align: center;
}

.btn-light {
    background-color: white; 

}

p {
    color: #365b6d;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    
}




